/** @format */

* {
	margin: 0;
	padding: 0;
}

#diff-configuration {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 3px solid #ffcf00 !important; */
	/* outline: 3px solid #b555f9 !important; */
	/* background: #ffcf004d !important; */
}

html,
body {
	background: #eee;
	font: 12px sans-serif;
}

body {
	padding-top: 1.8em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
table,
tbody,
tr,
td,
td div {
	height: 100%;
    width: 100%;
}

tr{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-inline: 20px; */
    align-items: stretch;
}

tbody{
    padding-inline: 20px;
}

tr > td {
    height: auto;
}

h1 {
	margin-top: 20px;
}

table {
	table-layout: fixed;
	width: 100%;
    min-height: calc(100vh - 250px);
    height: fit-content;
}

td {
	box-sizing: border-box;
	width: 33.3333%;
	padding: 3px 4px;
	border: 1px solid transparent;
    padding: 15px;
    background: #F9F9F9;
    border-radius: 10px;
}

td div {
	overflow: auto;
	font: 1em monospace;
	text-align: left;
	white-space: pre-wrap;
    background: #F9F9F9;

}

del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}

ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}

.chunk-header {
	color: #8a008b;
	text-decoration: none;
}

#result {
	white-space: pre-wrap;
    height: 100%;
}

#settings {
	/* position: absolute; */
	top: 0;
	left: 5px;
	right: 5px;
	height: 2em;
	line-height: 2em;
	margin-bottom: 20px;
}

#settings > h3 {
	display: inline;
	font-size: 100%;
}

#settings label {
	margin-left: 1em;
}

.source {
	position: absolute;
	right: 1%;
	top: 0.2em;
}

[contentEditable] {
	background: #f9f9f9;
	border-color: #bbb #d9d9d9 #ddd;
	border-radius: 4px;
	-webkit-user-modify: read-write-plaintext-only;
	outline: none;
}

[contentEditable]:focus {
	background: #f9f9f9;
	border-color: #6699cc;
	/* box-shadow: 0 0 4px #2175c9; */
}

td:has([contentEditable].original:focus),td>div[contentEditable].original:focus{
    background: rgb(242, 255, 242);
}

td:has([contentEditable].modified:focus),td>div[contentEditable].modified:focus{
    background: rgb(255, 242, 242);
}
td{
    border: 1px solid black !important;
}
/* td:has(div.compare), td > div.compare{
    background: rgb(245, 245, 245);
} */

@-moz-document url-prefix() {
	body {
		height: 99%;
		/* Hide scroll bar in Firefox */
	}
}

#page-credit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-style: italic;
}
table#diff-input {
    display: flex;
}
table#diff-input > tbody > tr > td{
    width: 100%;
    min-height: 200px;
    padding-left: 15px;
}

.toc{
    display: none;

}

.post-header{
    display: none;;
}